.p-preview{
    @include e(content) {
        @include e(btn) {
            margin-bottom: 15px;
            @include tab{
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
            }
            .preview__right{
                max-width: 420px;
                width: 90%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @include tab{
                    margin: 0;
                }
                button{
                    width: 90px;
                    margin: 0 0 10px;
                    height: 40px;
                    line-height: 40px;
                    @include mq{
                        margin: 0;
                    }
                }
                button:nth-child(4){
                    width: 120px;
                }
            }
            .preview__left{
                width: 128px;
                margin-bottom: 20px;
                @include tab{
                    margin-bottom: 0;
                }
                button{
                    height: 40px;
                    line-height: 40px;
                }
            } 
        }
        @include e(detail){
            width: 100%;
            margin: 0 auto;
            max-width: 1022px;
            img{
                width: 100%;
            }
        }
    }
}
  