// main: ../style.scss
.o-form{
  :placeholder-shown {
    color: #888;
  }
  ::-webkit-input-placeholder {
    color: #888;
  }
  :-moz-placeholder {
    color: #888; opacity: 1;
  }
  ::-moz-placeholder {
    color: #888; opacity: 1;
  }
  :-ms-input-placeholder {
    color: #888;
  }
  input:focus, textarea:focus, select:focus{
    outline-offset: none;
  }
  :focus {
    outline: none;
  }
  @include e(title) {
    font-weight: bold;
    margin-bottom: 6px;
    @include mq {
      font-size: 18px;
    }
  }
  input,select,textarea{
    background: #fff;
    color: $color_bk;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 5px 0;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
  }
  textarea{
    min-height: 142px;
    resize: none;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    padding: 20px 10px;
    font-size: 14px;
  }
  select{
    padding-top: 6px;
    box-shadow: none;
    text-indent: 0.01px;
    text-overflow: '';
    vertical-align: middle;
    color: inherit;
    padding-right: 10px;
    min-height: 32px;
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    appearance: menulist !important;
  }
}
