// main: ../style.scss
.o-table{
  overflow: auto;
  @include m(quote) {
    table{
      min-width: 1018px;
      width: 1018px;
      th,td{
        @include m(type) {
          width: 80px;
        }
        @include m(name) {
          width: 110px;
        }
        @include m(title) {
          width: 170px;
        }
        @include m(edit) {
          width: 106px;
        }
        .o-btn{
          font-size: 14px;
        }
      }
    }
  }
  @include m(setting) {
    table{
      th,td{
        @include m(no) {
          width: 65px;
        }
        @include m(name) {
          width: 345px;
        }
        @include m(unit) {
          width: 100px;
        }
        @include m(edit) {
          width: 110px;
        }
      }
      td{
        padding-top: 9px;
        padding-bottom: 8px;
        @include m(name) {
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  @include m(top) {
    margin-bottom: 6px;
    table{
      border-collapse: separate;
      border-spacing: 0px 6px;
      th,td{
        @include m(long) {
          width: 370px;
        }
        @include m(send) {
          width: 145px;
        }
        @include m(size) {
          width: 110px;
        }
        @include m(price) {
          width: 110px;
        }
        @include m(num) {
          width: 100px;
        }
      }
    }
  }
  @include e(btn) {
    margin-bottom: 20px;
    display: inline-block;
    width: 117px;
    .o-btn{
      margin-left: 0;
      line-height: 37px;
      height: 37px;
    }
  }
  table{
    min-width: 858px;
    width: 858px;
    table-layout: fixed;
    th,td{
      padding: 6px 10px 5px;
      border-top: 1px solid #D1D1D1;
      border-bottom: 1px solid #D1D1D1;
      &:first-child{
        border-left: 1px solid #D1D1D1;
      }
      &:last-child{
        border-right: 1px solid #D1D1D1;
      }
      .o-form input{
        border: 1px solid #D1D1D1;
        border-radius: 4px;
      }
      .o-btn{
        line-height: 32px;
        height: 32px;
      }
    }
    th{
      text-align: center;
      background: #D0E4F0;
      border-right: 1px solid #fff;
    }
    td{
      border-right: 1px dotted #D1D1D1;
    }
  }
}
